// Import the framework
@import 'node_modules/vanilla-framework/scss/vanilla';

// Include all of Vanilla Framework
@include vanilla;

.heading{
    text-align: center;
}

.mar-t-5{
    margin-top: 5rem;
}

.album-card{
    margin: 2rem;
}

.track{
    cursor: pointer;
}